@model BookingTool.Models.PartialBooking
   
@{

    var userNamesList = new SelectList(ViewBag.UserNames);
}
 
<tr>
    <td>
        @Html.EditorFor(model => model.Sender)
        @Html.ValidationMessageFor(model => model.Sender)
    </td>
    
    <td>
        @Html.DropDownList("Recipient", userNamesList)
        @Html.ValidationMessageFor(model => model.Recipient)
    </td>
    
    <td>
        @Html.EditorFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount)
    </td>
    
    <td>
        @Html.EditorFor(model => model.Share)
        @Html.ValidationMessageFor(model => model.Share)
    </td>

</tr>