@model BookingTool.Models.SharePartialBooking
   
@{
    var userNamesList = new SelectList(ViewBag.UserNames);
}
 
<tr>
    <td>
        @Html.EditorFor(model => model.Sender)
        @Html.ValidationMessageFor(model => model.Sender)
    </td>
    
    <td>
        @Html.DropDownList("Recipient", userNamesList)
        @Html.ValidationMessageFor(model => model.Recipient)
    </td>
        
    <td>
        @Html.EditorFor(model => model.WeightFactor)
        @Html.ValidationMessageFor(model => model.WeightFactor)
    </td>
</tr>