@model BookingTool.Models.Product

@{
    ViewBag.Title = "ProductDelete";
}

<h2>Produkt l&ouml;schen</h2>

<h3>Das Produkt wirklich aus der Liste löschen?</h3>
<fieldset>
    <legend>Product</legend>

    <div>
        <h3>@Html.DisplayNameFor(model => model.Name)</h3>
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Price)</h3>
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Löschen" /> 
        @Html.ActionLink("Produkte verwalten", "ProductDetails")
    </p>
}
