@model IEnumerable<BookingTool.Models.Product>

@{
    ViewBag.Title = "ProductDetails";
}

<h2>Produkt-Details</h2>



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "ProductEdit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "ProductDelete", new { id=item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Neues Produkt", "ProductCreate")
</p>

