@model BookingTool.Models.PartialBooking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PartialBooking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sender)
            @Html.ValidationMessageFor(model => model.Sender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recipient)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recipient)
            @Html.ValidationMessageFor(model => model.Recipient)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
