@model BookingTool.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Buchung erstellen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateBooked)
        </div>
        <div class="editor-field">
@*            @Html.TextBox("DateBookedUtc", Model.DateBooked.ToString("dd.MM.yyyy"))*@
            @Html.EditorFor(model => model.DateBooked)
            @Html.ValidationMessageFor(model => model.DateBooked)
        </div>
        
        <div>
            <table>
                <tr>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                </tr>

                @for(var i = 0; i < ViewBag.ParticipantsCount; i++)
                {
                    @Html.EditorFor(model => model.PartialBookings[i])
                }
            </table>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "MyAccount")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
