@model BookingTool.Models.PartialBooking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PartialBooking</legend>

    <div>
        <h3>@Html.DisplayNameFor(model => model.BookingId)</h3>
        @Html.DisplayFor(model => model.BookingId)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Sender)</h3>
        @Html.DisplayFor(model => model.Sender)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Recipient)</h3>
        @Html.DisplayFor(model => model.Recipient)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Amount)</h3>
        @Html.DisplayFor(model => model.Amount)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Share)</h3>
        @Html.DisplayFor(model => model.Share)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
