@model BookingTool.Models.PartialBooking

@{
    ViewBag.Title = "Delete";
}

<h2>L&ouml;schen</h2>

<h3>Buchung wirklich l&ouml;schen?</h3>
<fieldset>
    <legend>PartialBooking</legend>

    <div>
        <h3>@Html.DisplayNameFor(model => model.BookingId)</h3>
        @Html.DisplayFor(model => model.BookingId)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Sender)</h3>
        @Html.DisplayFor(model => model.Sender)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Recipient)</h3>
        @Html.DisplayFor(model => model.Recipient)
    </div>
    <div>
        <h3>@Html.DisplayNameFor(model => model.Amount)</h3>
        @Html.DisplayFor(model => model.Amount) <span>&euro;</span>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Löschen" />
        @Html.ActionLink("Zurück zum Kontostand", "MyAccount")
    </p>
}
