@model BookingTool.Models.AccountOverview

@{
    ViewBag.Title = "FilterPerson";
}

<h2>Mein Kontostand | Filter - beteiligte Person</h2>

<fieldset>
    <legend>FilterPerson</legend>
    <div class="clear-fix">
        <div>
            <h3>@Html.DisplayNameFor(model => model.UserName)</h3>
            @Html.DisplayFor(model => model.UserName)
        </div> 
    </div>

    <div>
        @Html.Partial("PartialBookings", Model.PartialBookings)
    </div>
    
    <div class="overview">
        <table class="partial-bookings">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Debit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount) 
                </th>
            </tr>
            <tr>
                <td class="credit">
                    @Html.DisplayFor(model => model.Credit) &euro;
                </td>
                <td class="debit">
                    @Html.DisplayFor(model => model.Debit) &euro;
                </td>
                <td>
                    @Html.DisplayFor(model => model.TotalAmount) &euro;
                </td>
                <td>
                    @if (Model.TotalAmount > 0)
                    {                    
                        @Html.ActionLink("Alles Bezahlt", "MultipleAsPaid", new { userName=Model.FilterPerson })
                    }
                </td>
            </tr>
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Zurück zum Kontostand", "MyAccount")
</p>
<p>
    @Html.ActionLink("per Mail senden", "SendEmail", new { to = Model.FilterPerson })
</p>