@model BookingTool.Models.AccountOverview

@{
    ViewBag.Title = "MyAccount";
}

<h2>My Account</h2>

<fieldset>
    <legend>AccountOverview</legend>
    
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalAmount)
            </td>
        </tr>
    </table>

    @Html.Partial("PartialBookings", Model.PartialBookings)
    
</fieldset>