@model BookingTool.Models.AccountOverview

@{
    ViewBag.Title = "MyAccount";
}

<h2>MyAccount</h2>

<fieldset>
    <legend>AccountOverview</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalAmount)
    </div>
    
    @Html.Partial("PartialBookings", Model.PartialBookings)
</fieldset>