@model BookingTool.Models.AccountOverview

@{
    ViewBag.Title = "MyAccount";
}

<h2>Mein Kontostand</h2>

<fieldset>
    <legend>AccountOverview</legend>
    <div class="clear-fix">
        <div>
            <h3>@Html.DisplayNameFor(model => model.UserName)</h3>
            @Html.DisplayFor(model => model.UserName)
        </div> 
    </div>

    <div>
        @Html.Partial("PartialBookings", Model.PartialBookings)
    </div>
    
    <div class="overview">
        <table class="partial-bookings">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Debit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
            </tr>
            <tr>
                <td class="positive-amount">
                    @Html.DisplayFor(model => model.Credit) <span>&euro;</span>
                </td>
                <td class="negative-amount">
                    @Html.DisplayFor(model => model.Debit) <span>&euro;</span>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TotalAmount) <span>&euro;</span>
                </td>
            </tr>
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Neue Buchung erstellen", "Create")
</p>