@model BookingTool.Models.AccountOverview

@{
    ViewBag.Title = "MyAccount";
}

<h2>My Account</h2>

<fieldset>
    <legend>AccountOverview</legend>
    <div class="clear-fix">
        <div class="overview">
            <h3>@Html.DisplayNameFor(model => model.UserName)</h3>
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class="overview">
            <h3>@Html.DisplayNameFor(model => model.TotalAmount)</h3>
            @Html.DisplayFor(model => model.TotalAmount)
        </div>  
    </div>

    <div>
        @Html.Partial("PartialBookings", Model.PartialBookings)
    </div>
    
    
</fieldset>